.eventContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.eventContainer .expansionPanelWrapper {
    display: flex;
    width: 90%;
    justify-content: center;
}
