.guestListWrapper {
    width: 100%;
}

.guestListWrapper .templateWrapper {
    display: flex;
    flex-direction: row;
}

.MuiTypography-colorTextSecondary {
    color: rgba(255, 255 ,255 , 0.54) !important;
}

.css-1tna5xz {
    color: rgba(255, 255 ,255 , 0.87) !important;
}
