.eventWrapper {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.eventWrapper .eventItem {
    background-color: darkslategray;
    display: flex;
    height: 300px;
    width: 200px;
    cursor: pointer;
}
